.page-container {
  padding: 60px;
}

.team-card-container {
  display: grid;
  grid-template-columns: repeat(5, 19%);
  justify-content: space-between;
}

.tools-container {
  display: grid;
  grid-template-columns: repeat(7, 10%);
  justify-content: space-between;
}