.banner {
    position: relative;
    height: 100px; 
    background: url('https://via.placeholder.com/1500x500') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }

.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  filter: brightness(50%); 
}

.banner-content {
  position: relative;
  z-index: 1;
  font-size: xxx-large;
  font-weight: 500;
}

  