.image {
    object-fit: contain;
    height: 300px;
}
.book-link,
.author-link,
.publisher-link {
    text-decoration: none; /* Remove underlines from links */
    color: inherit; /* Inherit text color from parent */
}

.book-link:hover,
.author-link:hover,
.publisher-link:hover {
    text-decoration: underline; /* Optional: Add underline on hover */
}

.btn-custom {
    background-color: #925e48;
    color: white;
}