.page-container {
    padding: 60px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 5fr));
    gap: 16px;
    padding: 16px;
}

.search-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-input {
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 4px;
    width: 20%; /* Adjusted width */
    height: 40px;
    margin-right: 10px;
    flex: 1; /* Take remaining space */
}

.sort-dropdown {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    min-width: 150px;
    font-size: 14px;
}